body {
    font-family: 'Segoe UI', sans-serif;
    background: black;
    color: white;
}

#wrapper {
    margin: 0 auto;
    max-width: 960px;
}

span {
    font-style: italic;
}

#wrapper {
    position: relative;
}

#sound {
    left: 10px;
    bottom: 10px;
    position: absolute;
}